@import "bourbon/bourbon";

@import "partials/_mixins";
@import "partials/reset";

@include font-face("SS Standard", '../fonts/ss-standard', normal, normal);

$body-bg-color: #F3F3F3;

$header-bg-color: #242424;
$header-link-color: #989898;
$header-link-color--hover: #FAFAFA;
$header-link-bg--active: #000;
$header-logo-color: #FAFAFA;
$primary-bg-color: #2ecc71;
$primary-text-color: #FFF;
$header-height: 40px;

$tab-bar-bg: #FFF;
$tab-bar-link-color: #AAA;
$tab-bar-link-bg--active: darken($tab-bar-bg, 4%);
$tab-bar-link-color--active: #000;

$text-color: #212121;

body{
  font-family: "Open sans", sans-serif;
  background: $body-bg-color;
}

a{
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*{
  @include box-sizing(border-box);
}

.header{
  background: $header-bg-color;
  @include clearfix;
  position: relative;
  box-shadow: 0 1px 0 darken($header-bg-color, 20%);
}

.header__logo{
  text-align: center;

  img{
    display: inline-block;
    margin: 8px 0;
    vertical-align:text-top;
  }
}

#city {
  color: rgb(6, 180, 151);
  font-size: 26px;
  display: inline-block;
  margin-top: 16px;
  vertical-align: top;
  margin-left: 10px;
}


.ss-icon{
  font-family: 'SS Standard';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased;
}

.tab-bar{
  @include clearfix;
  background: $tab-bar-bg;
  border-bottom: 1px solid darken($tab-bar-bg, 14%);

  @include mq-min-w(1280px){
    display: none;
  }

  .tab-bar__tab{
    float: left;
    border-right: 1px solid darken($tab-bar-bg, 8%);

    @include mq-max-w(600px){
      width: (100%/2);
    }
  }

  .tab-bar__link{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: $tab-bar-link-color;
    display: block;
    text-align: center;
    line-height: $header-height;
    text-decoration: none;

    @include mq-min-w(600px){
      padding: 0 3em;
    }

    &.is-active{
      background: $tab-bar-link-bg--active;
      color: $tab-bar-link-color--active;
    }
  }
}

.tab-pane{
  display: none;

  @include mq-min-w(1280px){
    display: block;
  }

  &.is-active{
    display: block;
  }
}

#nav-toggle{
  @extend .ss-icon;
  position: absolute;
  line-height: $header-height;
  text-decoration: none;
  color: $header-link-color--hover;
  padding: 0 1em;
}

@media screen and (min-width: 40em) {
  .header__nav {
    position: relative;
  }
  .header__nav.closed {
    max-height: none;
  }
  #nav-toggle {
    display: none;
  }
}

.tab-pane-pattern{
  width: 90%;
  height: 90%;
  margin: 20px auto 0px auto;
}

.chat{
  @extend .tab-pane-pattern;
  padding-bottom: 200px;
}

.tab-pane__title{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.1em;
}

.channels-list{
  @include clearfix;
  margin-bottom: 30px;
}

.chan{
  float: left;
  margin-right: 1em;
  margin-bottom: .5em;
  border-radius: 3px;
  overflow: hidden;
  background: #FAFAFA;
  border: 1px solid #DDD;
  box-shadow: 0 2px 0 #DDD, 0 3px 0 #CCC;

  a{
    text-decoration: none;
    color: $text-color;
    display: inline-block;
  }

  &.is-active{
    background: darken($primary-bg-color, 3%);
    border: 1px solid darken($primary-bg-color, 6%);
    box-shadow: 0 2px 0 darken($primary-bg-color,6%), 0 3px 0 darken($primary-bg-color, 8%);
  }

  &.is-active a{
    color: $primary-text-color;
  }
}

.chan__name, .chan__nb-users, .chan__nb-pois{
  display: inline-block;
  padding: .5em .6em;
}

.chan__name{
  font-weight: 300;
  border-right: 1px solid #DDD;
  background: #FFF;

  .chan.is-active &{
    background: $primary-bg-color;
    border-right: 1px solid rgba(255,255,255,.3);
  }
}

.chan__nb-users, .chan__nb-pois{
  color: #888;
  font-size: 13px;

  .chan.is-active &{
    color: rgba(255,255,255,1);
  }

  i{
    display: inline-block;
    margin-right: .4em;
    position: relative;
    top: 1px;
  }
}

.message{
  font-size: 14px;
  line-height: 1.4;
  background: #FFF;
  padding: .8em 1em;
  margin-bottom: 1em;
  border: 1px solid #DDD;
  overflow: hidden;
  position: relative;
}

.message__user{
  display: block;
  font-weight: 400;
  margin-bottom: .5em;
  font-size: 17px;
}

.message__content{
  color: #666;
  position: relative;
  padding-bottom: 12px;

  a{
    color: $primary-bg-color;
  }
}

.poi-attach{
  position: absolute;
  font-size: 12px;
  right: 10px;
  top: 5px;
  display: inline-block;
  color: #AAA;

  i{
    display: inline-block;
    margin-right: 4px;
  }
}

.timeago{
  position: absolute;
  font-size: 12px;
  right: 10px;
  bottom: 5px;
  display: inline-block;
  color: #AAA;

  i{
    display: inline-block;
    margin-right: 4px;
  }
}

a.message__hash{
  display: inline-block;
  color: $text-color;
  padding: .3em .6em;
  background: #FAFAFA;
  border: 1px solid #EEE;
  margin-left: .6em;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: 0 1px 0 #EEE;

  &:hover{
    background: darken(#FAFAFA, 2%);
    color: lighten($text-color, 10%);
  }
}

$post-bg-color: #FFF;
$poi-search-bg: #2ecc71;
.post{
  height: 8%;
  max-height: 100px;
  min-height: 50px;
  position: fixed;
  bottom: 0px;
  background: $post-bg-color;
  box-shadow: 0 -1px 2px rgba(0,0,0,.1);
  width: 100%;
  z-index: 1;
}

.poi-search{
  z-index: 3;
  position: absolute;
  height: 140px;
  width: 300px;
  top: -145px;
  background: #FFF;
  right: 20px;
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  opacity: 1;
  @include transition(top .2s ease-out);

  @include mq-max-w(500px){
    width: 100%;
    top: -125px;
    height: 120px;
    right: 0px;

    &:before, &:after{
      display: none;
    }
  }

  &.is-hidden{
    top: 0px;
    opacity: 0;
    pointer-events: none;
  }

  i.ss-icon{
    position: absolute;
    right: 10px;
    top: 12px;
    color: #FFF;
  }
}

.poi-search__input{
  border: none;
  padding: .6em 1em;
  font-size: 13px;
  color: #FFF;
  height: 40px;
  background: $poi-search-bg;
  width: 100%;

  &:focus{
    outline: none;
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  }

  @include placeholder{
    color: rgba(255,255,255,.8);
  }

}


.post__message{
  position: relative;
  width: 90%;

  @include mq-max-w(890px){
    width: 85%;
  }

  textarea{
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    border: none;
    padding: 5px 50px 5px 10px;
    margin: 0;
    height: 100%;

    &:focus{
      outline: none;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.2);
    }
  }

  .svg-icon{
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -14px;
    cursor: pointer;
    opacity: .6;

    &:hover{
      opacity: 1;
    }
  }
}

.poi-search__results{
  overflow-y: scroll;
  height: 82px;
}

.poi-search__name{
  font-size: 12px;
  margin: 0 0 3px;
  padding: .3em .4em;
  display: block;
  cursor: pointer;

  &:hover{
    background: #F2F2F2;
  }

  &:active{
    background: $primary-bg-color;
    color: $primary-text-color;
  }
}

.post__poi{
  position: absolute;
  right: 60px;
  top: 13px;
  font-size: 12px;
  display: inline-block;
  padding: .4em 1em .4em 1.2em;
  background: #F2F2F2;
  border: 1px solid #DDD;

  @include mq-max-w(750px){
    right: 0px;
    top: -28px;
    background: #FFF;
  }

  @include mq-max-w(450px){
    right: 0px;
    top: -28px;
    background: #FFF;
    font-size: 13px;
  }

  i{
    position: relative;
    left: -.4em;
    top: 2px;
    color: #AAA;
    cursor: pointer;

    &:hover{
      color: #555;
    }
  }
}

%button-squared{
  text-decoration: none;
  background: $primary-bg-color;
  color: $primary-text-color;
}

.post__submit{
  float: right;
  width: 10%;
  height: 100%;
  display: block;
  @extend %button-squared;
  font-size: 18px;
  border: none;
  font-weight: 500;
  cursor: pointer;

  i{
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 2px;
  }

  @include mq-max-w(890px){
    width: 15%;
  }

  @include mq-max-w(550px){
    font-size: 14px;
  }

  @include mq-max-w(460px){
    font-size: 18px;
    span{
      display: none;
    }

    i{
      margin-right: 0px;
    }
  }
}

//  =======
//  = Map =
//  =======
.angular-google-map{
  display: block;
  height: 90%;
  width: 100%;
}

.chat{
  @include mq-min-w(1280px){
    width: 50%;
    padding: 0 20px;
    float: left;
    overflow: scroll;
    //height: 100%;
    padding-bottom: 120px;
  }
}

.map{
  @include mq-min-w(1280px){
    width: 50%;
    float: left;
    position: sticky;
  }
}

//  =========
//  = Modal =
//  =========
.modal{
  width: 98%;
  max-width: 400px;
  margin: 0 auto;
  background: #FFF;
  padding: 20px;
  border: 1px solid #DDD;
  text-align: center;
  z-index: 10;
  position: fixed;
  top: 50%;
  margin-top: -83px;
  left: 50%;
  margin-left: -200px;
  box-shadow: 0 0 3px rgba(0,0,0,.2);

  @include mq-max-w(500px){
    height: 100%;
    min-height: 100%;
    position: fixed;
    top: 5px;
    bottom: 5px;
    left: 1%;
    right: 1%;
    margin: 0px;
  }
}

.modal__title{
  font-weight: 500;
  font-size: 18px;
}

.modal__input, .modal__submit{
  padding: .7em 1.2em;
  margin-top: 14px;
  font-size: 13px;
}

.modal__input{
  width: 80%;
  border: 1px solid #DDD;

  &:focus{
    outline: none;
    box-shadow: inset 0 0 2px rgba(0,0,0,.3);
  }
}

.modal__submit{
  border: 1px solid rgba(0,0,0,.1);
  background: $primary-bg-color;
  color: $primary-text-color;
  cursor: pointer;
}

.message-list-item {
  overflow: hidden;
  max-height: 150px;
}

.slide-enter, .slide-leave {
  @include transition(.4s cubic-bezier(0.250, 0.250, 0.750, 0.750) all);
}

.slide-leave, .slide-enter.slide-enter-active {
  max-height: 150px;
  opacity: 1;
}

.slide-enter, .slide-leave.slide-leave-active {
  opacity: 0;
  max-height: 0px;
}


