extends layout

block content
  .app(ng-controller="AppCtrl")
    tabs
      pane(title="Chat")
        p Je suis le chat
      pane(title="Maps")
        p Je suis la map
      pane(title="Channels")
        .channels
          h2.tab-pane__title Bienvenue sur la liste des channels
          ul(ng-repeat="chan in channels")
            li.chan
              a(href="#")
                span.chan__name {{chan.name}}
                span.chan__nb-users
                  i.ss-icon users
                  {{chan.users}}

