extends layout

block content
  tabs
    pane(title="Chat")
    pane(title="Maps")
    pane(title="Channels")
  //- ul.tab-bar
  //-   li.tab-bar__tab
  //-     a.tab-bar__link.is-active(href="#") Chat
  //-   li.tab-bar__tab
  //-     a.tab-bar__link(href="#") Maps
  //-   li.tab-bar__tab
  //-     a.tab-bar__link(href="#") Channels
