extends layout

block content
  .app(ng-controller="AppCtrl")
    tabs(pane-changed="paneChanged(selectedPane)")
      pane(title="Chat")
        .chat
          h2.tab-pane__title Bienvenue sur CoCity
          ul(ng-repeat="message in messages | matchCurrentChannels:current_channels | orderBy:'post_date'")
            li.message
              span.message__user
                {{message.author}}
              p.message__content
                {{message.content}}
                a(href="#", class="message__hash", 
                  ng-repeat='hash in message.hashtags', ng-click="toggleChannel(hash, $event)")
                    # {{ hash }}
        form.post(ng-submit="sendMessage()")
          .poi-search(ng-class="{'is-hidden': !poiShow}")
            input(type="text", class="poi-search__input", placeholder="Recherche ton point d'interet…")
            ul.poi-search__results
              li(ng-repeat="result in results")
                span {{result}}
          button.post__submit(type="submit")
            i.ss-icon send
            span Send
          .post__message
            textarea(ng-model="message.content", placeholder="Enter your message here", enter-submit="sendMessage()")
            img(src="/img/add-poi.svg", class="svg-icon", width="28", ng-click="poiShow = !poiShow")
        form.modal(ng-show="usernamePrompt", ng-submit="sendMessage()")
          h3(class="modal__title") Merci de rentrer ton pseudo
          input(type="text", placeholder="Pseudo…", ng-model="me.username", class="modal__input")
          br
          input(type="submit", value="Valider", class="modal__submit")
      pane(title="Maps", ng-click="test()")
        .map
          google-map(center="center", draggable="true", zoom="zoom", markers="markers", refresh="isMapVisible")
      pane(title="Channels")
        .channels
          h2.tab-pane__title Bienvenue sur la liste des channels
          ul
            li.chan(ng-repeat="chan in channels", ng-class="{'is-active': chan.joined == true}")
              a(href="#" ,ng-click="toggleChannel(chan.name, $event)")
                span.chan__name # {{chan.name}}
                span.chan__nb-users
                  i.ss-icon users
                  {{chan.users}}

