/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: "SS Standard";
  src: url('../../fonts/ss-standard.eot');
  src: url('../../fonts/ss-standard.eot?#iefix') format('eot'), url('../../fonts/ss-standard.woff') format('woff'), url('../../fonts/ss-standard.ttf') format('truetype'), url('../../fonts/ss-standard.svg') format('svg');
  font-weight: normal;
  font-style: normal; }

/* line 26, ../../sass/main.scss */
body {
  font-family: "Open sans", sans-serif;
  background: #f3f3f3; }

/* line 31, ../../sass/main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 35, ../../sass/main.scss */
.header {
  background: #242424;
  *zoom: 1;
  position: relative;
  box-shadow: 0 1px 0 black; }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .header:after {
    content: "";
    display: table;
    clear: both; }

/* line 42, ../../sass/main.scss */
.header__logo {
  text-align: center;
  font-weight: 700;
  color: #fafafa;
  font-size: 20px;
  line-height: 40px; }

/* line 50, ../../sass/main.scss */
.ss-icon, #nav-toggle {
  font-family: 'SS Standard';
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  white-space: nowrap;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -moz-font-feature-settings: "liga", "dlig";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
  -webkit-font-smoothing: antialiased; }

/* line 66, ../../sass/main.scss */
.tab-bar {
  *zoom: 1;
  background: white;
  border-bottom: 1px solid #dbdbdb; }
  /* line 38, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
  .tab-bar:after {
    content: "";
    display: table;
    clear: both; }
  /* line 71, ../../sass/main.scss */
  .tab-bar .tab-bar__tab {
    float: left;
    border-right: 1px solid #ebebeb; }
    @media screen and (max-width: 600px) {
      /* line 71, ../../sass/main.scss */
      .tab-bar .tab-bar__tab {
        width: 33.33333%; } }
  /* line 80, ../../sass/main.scss */
  .tab-bar .tab-bar__link {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    color: #aaaaaa;
    display: block;
    text-align: center;
    line-height: 40px;
    text-decoration: none; }
    @media screen and (min-width: 600px) {
      /* line 80, ../../sass/main.scss */
      .tab-bar .tab-bar__link {
        padding: 0 1.5em; } }
    /* line 94, ../../sass/main.scss */
    .tab-bar .tab-bar__link.is-active {
      background: whitesmoke;
      color: black; }

/* line 101, ../../sass/main.scss */
.tab-pane {
  display: none; }
  /* line 104, ../../sass/main.scss */
  .tab-pane.is-active {
    display: block; }

/* line 109, ../../sass/main.scss */
#nav-toggle {
  position: absolute;
  line-height: 40px;
  text-decoration: none;
  color: #fafafa;
  padding: 0 1em; }

@media screen and (min-width: 40em) {
  /* line 119, ../../sass/main.scss */
  .header__nav {
    position: relative; }

  /* line 122, ../../sass/main.scss */
  .header__nav.closed {
    max-height: none; }

  /* line 125, ../../sass/main.scss */
  #nav-toggle {
    display: none; } }
/* line 130, ../../sass/main.scss */
.channels, .chat {
  width: 90%;
  margin: 20px auto; }

/* line 143, ../../sass/main.scss */
.tab-pane__title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 1.1em; }

/* line 149, ../../sass/main.scss */
.chan {
  float: left;
  margin-right: 1em; }
  /* line 152, ../../sass/main.scss */
  .chan a {
    text-decoration: none;
    color: #212121;
    display: inline-block;
    background: #F2F2F2;
    border: 1px solid #DDD; }
  /* line 160, ../../sass/main.scss */
  .chan.is-active a {
    color: white; }

/* line 165, ../../sass/main.scss */
.chan__name, .chan__nb-users {
  display: inline-block;
  padding: .5em .4em; }

/* line 170, ../../sass/main.scss */
.chan__name {
  font-weight: 600;
  border-right: 1px solid #DDD;
  background: #FFF; }
  /* line 175, ../../sass/main.scss */
  .chan.is-active .chan__name {
    background: #2ecc71; }

/* line 180, ../../sass/main.scss */
.chan__nb-users {
  color: #888; }
  /* line 183, ../../sass/main.scss */
  .chan__nb-users i {
    display: inline-block;
    margin-right: .4em;
    position: relative;
    top: 1px; }

/* line 191, ../../sass/main.scss */
.message {
  font-size: 14px;
  background: #FFF;
  padding: .8em 1em;
  margin-bottom: 1em;
  border: 2px solid #DDD;
  overflow: hidden; }

/* line 200, ../../sass/main.scss */
.message__user {
  display: block;
  font-weight: 600;
  margin-bottom: .5em; }

/* line 206, ../../sass/main.scss */
.message__content {
  color: #666; }

/* line 210, ../../sass/main.scss */
.message__hash {
  display: inline-block;
  color: #212121;
  padding: .3em .6em;
  background: #FAFAFA;
  border: 1px solid #EEE;
  margin-left: .4em;
  text-decoration: none; }
  /* line 219, ../../sass/main.scss */
  .message__hash:hover {
    background: #f2f2f2;
    color: #3b3b3b; }

/* line 227, ../../sass/main.scss */
.post {
  height: 8%;
  min-height: 50px;
  position: fixed;
  bottom: 0px;
  background: white;
  border-top: 1px solid #f2f2f2;
  width: 100%; }

/* line 237, ../../sass/main.scss */
.poi-search {
  z-index: 3;
  position: absolute;
  height: 120px;
  width: 300px;
  top: -115px;
  background: #FFF;
  right: 20px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  opacity: 1;
  -webkit-transition: top 0.2s ease-out;
  -moz-transition: top 0.2s ease-out;
  -o-transition: top 0.2s ease-out;
  transition: top 0.2s ease-out; }
  @media screen and (max-width: 500px) {
    /* line 237, ../../sass/main.scss */
    .poi-search {
      width: 100%;
      top: -125px;
      right: 0px; }
      /* line 254, ../../sass/main.scss */
      .poi-search:before, .poi-search:after {
        display: none; } }
  /* line 259, ../../sass/main.scss */
  .poi-search.is-hidden {
    top: 0px;
    opacity: 0;
    pointer-events: none; }
  /* line 265, ../../sass/main.scss */
  .poi-search:before, .poi-search:after {
    content: "";
    position: absolute;
    width: 0px;
    height: 0px;
    bottom: -16px;
    left: 52%;
    background: transparent;
    border: 8px solid transparent;
    border-top-color: #DDD; }
  /* line 277, ../../sass/main.scss */
  .poi-search:after {
    bottom: -15px;
    border-top-color: #FFF; }

/* line 283, ../../sass/main.scss */
.poi-search__input {
  border: none;
  padding: .6em 1em;
  font-size: 13px;
  color: #FFF;
  height: 40px;
  background: #2ecc71;
  width: 100%; }
  /* line 292, ../../sass/main.scss */
  .poi-search__input:focus {
    outline: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }
  /* line 14, ../../sass/partials/_mixins.scss */
  .poi-search__input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  /* line 19, ../../sass/partials/_mixins.scss */
  .poi-search__input:-moz-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  /* line 22, ../../sass/partials/_mixins.scss */
  .poi-search__input::-moz-placeholder {
    color: rgba(255, 255, 255, 0.8); }
  /* line 27, ../../sass/partials/_mixins.scss */
  .poi-search__input:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.8); }

/* line 303, ../../sass/main.scss */
.post__message {
  position: relative;
  width: 90%; }
  @media screen and (max-width: 890px) {
    /* line 303, ../../sass/main.scss */
    .post__message {
      width: 85%; } }
  /* line 311, ../../sass/main.scss */
  .post__message textarea {
    width: 100%;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
    border: none;
    padding: 5px 10px;
    margin: 0;
    height: 100%; }
    /* line 320, ../../sass/main.scss */
    .post__message textarea:focus {
      outline: none;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2); }
  /* line 326, ../../sass/main.scss */
  .post__message .svg-icon {
    position: absolute;
    right: 18px;
    top: 50%;
    margin-top: -14px;
    cursor: pointer;
    opacity: .6; }
    /* line 334, ../../sass/main.scss */
    .post__message .svg-icon:hover {
      opacity: 1; }

/* line 340, ../../sass/main.scss */
.poir-search__results {
  overflow-y: scroll;
  height: 72px; }

/* line 345, ../../sass/main.scss */
.poi-search__name {
  font-size: 12px;
  margin: 0 0 3px;
  padding: .3em .4em;
  display: block;
  cursor: pointer; }
  /* line 352, ../../sass/main.scss */
  .poi-search__name:hover {
    background: #F2F2F2; }
  /* line 356, ../../sass/main.scss */
  .poi-search__name:active {
    background: #2ecc71;
    color: white; }

/* line 362, ../../sass/main.scss */
.post__poi {
  position: absolute;
  right: 60px;
  top: 13px;
  font-size: 12px;
  display: inline-block;
  padding: .4em 1em .4em 1.2em;
  background: #F2F2F2;
  border: 1px solid #DDD; }
  @media screen and (max-width: 750px) {
    /* line 362, ../../sass/main.scss */
    .post__poi {
      right: 0px;
      top: -28px;
      background: #FFF; } }
  @media screen and (max-width: 450px) {
    /* line 362, ../../sass/main.scss */
    .post__poi {
      right: 0px;
      top: -28px;
      background: #FFF;
      font-size: 13px; } }
  /* line 385, ../../sass/main.scss */
  .post__poi i {
    position: relative;
    left: -.4em;
    top: 2px;
    color: #AAA;
    cursor: pointer; }
    /* line 392, ../../sass/main.scss */
    .post__poi i:hover {
      color: #555; }

/* line 398, ../../sass/main.scss */
.post__submit {
  text-decoration: none;
  background: #2ecc71;
  color: white; }

/* line 404, ../../sass/main.scss */
.post__submit {
  float: right;
  width: 10%;
  height: 100%;
  display: block;
  font-size: 18px;
  border: none;
  font-weight: 500;
  cursor: pointer; }
  /* line 415, ../../sass/main.scss */
  .post__submit i {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top: 2px; }
  @media screen and (max-width: 890px) {
    /* line 404, ../../sass/main.scss */
    .post__submit {
      width: 15%; } }
  @media screen and (max-width: 550px) {
    /* line 404, ../../sass/main.scss */
    .post__submit {
      font-size: 14px; } }
  @media screen and (max-width: 460px) {
    /* line 404, ../../sass/main.scss */
    .post__submit {
      font-size: 18px; }
      /* line 432, ../../sass/main.scss */
      .post__submit span {
        display: none; }
      /* line 436, ../../sass/main.scss */
      .post__submit i {
        margin-right: 0px; } }

/* line 445, ../../sass/main.scss */
.angular-google-map {
  display: block;
  height: 100%;
  width: 100%; }

/* line 455, ../../sass/main.scss */
.modal {
  width: 98%;
  max-width: 400px;
  margin: 0 auto;
  background: #FFF;
  padding: 20px;
  border: 2px solid #DDD;
  text-align: center;
  z-index: 10; }
  @media screen and (max-width: 500px) {
    /* line 455, ../../sass/main.scss */
    .modal {
      height: 100%;
      min-height: 100%;
      position: fixed;
      top: 5px;
      bottom: 5px;
      left: 1%;
      right: 1%; } }

/* line 476, ../../sass/main.scss */
.modal__title {
  font-weight: 500;
  font-size: 18px; }

/* line 481, ../../sass/main.scss */
.modal__input, .modal__submit {
  padding: .7em 1.2em;
  margin-top: 14px;
  font-size: 13px; }

/* line 487, ../../sass/main.scss */
.modal__input {
  width: 80%;
  border: 1px solid #EEE; }
  /* line 491, ../../sass/main.scss */
  .modal__input:focus {
    outline: none;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3); }

/* line 497, ../../sass/main.scss */
.modal__submit {
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #2ecc71;
  color: white;
  cursor: pointer; }
