// No select
@mixin noselect() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Media queries
@mixin mq-min-w($breakpoint: 40em) {

  @media screen and (min-width: $breakpoint) {
    @content;
  }

}

@mixin mq-max-w($breakpoint: 40em) {

  @media screen and (max-width: $breakpoint) {
    @content;
  }

}
